{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-typescript/base",
    "plugin:import/typescript",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "object-curly-spacing": ["error", "always"],
    "import/prefer-default-export": 0
  }
}
